/* Light background: #e9f1fb; */

body 
{
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	font-size: small;
	font-family: Arial, Verdana, Sans-Serif;
	color: #3f3f3f;
	background-color: White;
}

img { border:0; }

h1 { font-size: large; font-weight: bold; }
h2 { font-size: medium; font-weight: bold; }
h3 { font-size: small; font-weight: bold; }

li { margin: .8em 0 }

/* Login header */
#loginbar {
	margin-top: 0;
	text-align: right;
	padding: 4px 8px 4px 8px;
	background-color: #e9f1fb;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: x-small;
}
#loginbar a {
	color: inherit;
	text-decoration: none;
}
#loginbar a:hover {
	text-decoration: underline;
}

/* Header */
#header {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Main menu */
#mainmenu {
	background-color: Black;
	border-radius: 4px;
	padding: 8px 8px 8px 8px;
}
#mainmenu a {
	color: White;
	margin: 0px 0px 0px 24px;
	text-decoration: none;
}
#mainmenu a:hover {
	text-decoration: underline;
}

/* Search Bar */
#searchbar
{
	float: right;
	font-size: smaller;
	margin-right: 24px;
}
#txtSearch
{
	font-size: 85%;
	width: 200px;
	vertical-align:middle;
}
.vcenter
{
	vertical-align:middle;
}
#btnSearch, #btnAdvanced
{
	font-size: 85%;
}

#maincontent {
	float: left;
	width: 760px;
}

/* Navigation sidebar */
/*
  Background:     #003466
  Nav Header:     White/Black
  Nav Section:    White/#627aad
  Nav Item:       #3f3f3f/#d8e6f8
  Current Nav Item: Black/White
  Hover Nav Item: White/#3c5a9a
*/
#navbar 
{
	float: right;
	width: 180px;
	background-color: #003466;
	
	/*padding: 8px 8px 8px 8px;*/
	padding-top: 10px;
	border-radius: 4px;
}
.navmenu 
{
	margin: 1px 10px 1px 10px;
}
.navheader 
{
	color: White;
	background-color: Black;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	text-align: center;
}
.navsection 
{
	color: White;
	background-color: #627aad;
	font-weight: bold;
	margin-top: 1px;
	padding: 1px 1px 1px 1px;
}
.navsection a
{
	display: block;
	text-decoration: none;
	color: inherit;
}
.navitem, .navitemcurr
{
	color: #3f3f3f;
	background-color: #d8e6f8;
	padding: 0px 0px 0px 4px;
}
.navitemcurr
{
	color: Black;
	background-color: White;
}
.navitem a, .navitemcurr a
{
	display: block;
	text-decoration: none;
	color: inherit;
}
.navitem:hover, .navitemcurr:hover
{
	color: White;
	background-color: #3c5a9a;
}

/* article */
.article th
{
	background-color: #e9f1fb;
	padding-right: 12px;
	padding-left: 4px;
}
.article td
{
	background-color: #e9f1fb;
	padding-right: 12px;
	padding-left: 4px;
}
.articleodd td
{
	background-color: White;
}

/* Code */
.code
{
	background-color: #EEF3F9;
	border: 1px dashed grey;
	padding: 6px 6px 6px 6px;
}

.code_key { color: Blue; }
.code_str { color: Maroon; }
.code_com { color: Green; }
.code_sym { color: Fuchsia; }	/* Not used */
.code_num { color: Teal; }		/* Not used */
.code_op { color: Black; background-color: Yellow; } /* Not used */
.kw
{
	font-family: Courier New, Courier, Fixed, Monospace;
	color: Blue;
}

.console 
{
	background-color: #000;
	color: #eee;
	border: 0;
	padding: 6px 6px 6px 6px;
}

/* Footer */
#footer 
{
	clear: both;
	font-size: smaller;
	text-align: center;
	color: White;
	background-color: Black;
	padding: 8px 8px 8px 8px;
	border-radius: 4px;
}
#footer a
{
	color: inherit;
	text-decoration: none;
}
#footer a:hover
{
	text-decoration: underline;
}

/* Error messages */
.errmsg {
	color: #ff0000;
	background-color: #FFE6E6;
	border: 1px solid #ff0000;
	padding: 10px 10px 10px 10px;
	margin: 8px 0px 10px 0px;
}
.errtxt {
	color: #FF0000;
}

/* Articles/Sections/Categories */
.hdrbox {
	background-color: #e9f1fb;
	border: solid 2px #c5d9f3;
	padding: 12px 0px 12px 10px;
	margin-bottom: 0px;
}
.subhdrbox {
	background-color: #e9f1fb;
	border: solid 1px #c5d9f3;
	padding: 4px 0px 4px 6px;
}

div.hdrbox h1
{
	margin-top: 0px;
	margin-bottom: 0px;
}
div.infobox h1
{
	margin-bottom: 4px;
}
.subhdr
{
	font-size: medium;
	font-weight: bold;
}

#departments td
{
	width: 50%;
	padding: 12px 12px 12px 12px;
	vertical-align: top;
}
#departments ul
{
	list-style: square;
	padding-left: 1.5em;
}
#departments li
{
	margin-top: 0px;
	margin-bottom: 4px;
}
#departments a
{
	font-weight: bold;
	text-decoration: inherit;
}
#departments a:hover
{
	text-decoration: underline;
}

.newbox
{
	display: inline-block;
	width: 320px;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
}


/* */
.infobox
{
	background-color: #e9f1fb;
	padding: 12px 12px 12px 12px;
	border-radius: 4px;
}
.infobox a {
	color: inherit;
/*	text-decoration: none;*/
}
.infobox a:hover {
/*	text-decoration: underline;*/
}

#imgAuthor {
	float:left;
	margin: 0 15px 15px 0;
}
#authorpara {
	overflow: hidden;
}

.summarybox
{
	float: right;
	width:200px;
	font-size: x-small;
	font-weight: normal;
	background-color: White;
	border: solid 1px #d8e6f8;
	padding: 4px 4px 4px 4px;
	margin-right: 10px;
}
.summarybox table
{
	border-spacing:1px;
}

.smalltext 
{
	margin-top:0px;
	font-size: x-small;
}

.tag
{
	background-color: #e9f1fb;
	border: solid 1px #c5d9f3;
	border-radius: 4px;
	padding: 0px 8px 0px 8px;
	margin-left: 2px;
	margin-right: 2px;
}
.smalltag
{
	margin-top:0px;
	font-size: x-small;

	background-color: #e9f1fb;
	border: solid 1px #c5d9f3;
	border-radius: 2px;
	padding: 0px 2px 0px 2px;
	margin-right: 2px;
}
a.tag, a.smalltag
{
	text-decoration: none;
	color: inherit;
}
